# Data Science Tools and Ecosystem

# Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. Julia

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

# Data Science Tools

| Jupyter Notebook | RStudio | VsCode |
|------------------|---------|--------|
|                  |         |        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This will convert 200 minutes to hours by diving by 60.

# Number of minutes
minutes = 200

# Convert minutes to hours
hours = minutes / 60

# Display the result
hours

3.3333333333333335

# Objectives:

- Pyhton
- C++
- Java

## Author
Robert Greene